@import "mq";
@import "fonts";
@import "palette";
@import "traffic";


body {
    @include fs-bodyCopy(2);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}
